
@{
    ViewData["Title"] = "Create";
}

<form action="Create" method="post">
    <input type="text" placeholder="请输入标题" />
    <textarea placeholder="输入内容"></textarea>
    <input type="text" placeholder="请输入url" />
    <input type="submit" value="确认"/>
</form>

