@{
    ViewData["Title"] = "Index";
}

<form method="post" enctype="multipart/form-data" asp-controller="FileImport" asp-action="SaveImportFile">
    <div class="form-group">
        <div class="col-md-10">
            <p>文件导入</p>
            <input class="btn btn-info" type="file" name="excelFile" id="ImportDataExcelUploadify" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input class="btn btn-primary" type="submit" value="上传" />
        </div>
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(function () {
        //var file = new FormData($("#ImportDataExcelUploadify")[0])
       
        $("#ImportDataExcelUploadify").change(function () {
                   
            $.ajax({
                type: "POST",
                url: "/FileImport/ImportDataExcelUploadify",
                //dataType: "json",
                data: { excelFile: new FormData($("ImportDataExcelUploadify")[0]) },
                success: function (datas) { 
                    file.val(datas)
                },
            })
        });
       
    })
</script>
